body{
    background-color:rgb(40, 40, 40);
    
    text-align: center;
}
h1,h2,h3,p{
    color : white;
    
}
h4{
    color : orange;
}
a:link {
    color : white;
}
a:visited{
    color: gray;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(7, 1, 7);
    padding : 0px;
    margin:0px;
    overflow: hidden;
    display:flex;
    justify-content: space-around;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align:center;
}

.navContainer{
    margin-left : -8px;
    padding:0;
    position:fixed;
    top:0;
    width : 100%;
}

.navbar .blockElement:hover{
    background-color: rgb(16, 2, 22);
}

.navbar li{
    float : left;
}

.blockElement {
    display:block;
    margin-bottom :  1vh;
    
}


.jscanvas{
    display: flex;
    align-items: center;
}

canvas {
    display: flex;
    align-items: center;
    justify-items: center;
}

.contacts{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 50px; 
    padding: 20px;
}


.project-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;
}

.clickable-block {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    
    text-align: center; 
}

.clickable-block:hover .content {
    background-color: #00000040; 
}

.flood-project .content img {
    width: 300px; 
    height: auto;
}

.raycaster-project .content img {
    width: 400px; 
    height: auto;
}
